/* ---------------------- */
/* Custom propertise      */
/* ---------------------- */
:root {
    /* Colors */
    --clr-dark: 0, 0%, 9%, 1;
    --clr-white: 0, 0%, 100%, 1;
    --clr-accent: 227, 100%, 59%, 1;
    --clr-primary: 227, 70%, 30%, 1;

    /* Fonts */
    /* Default font size is 16px, so dividing every font size from mockup by 16 */
    --fs-700: 4.1875rem; /* 67px */
    --fs-600: 3.12rem; /* 50px */
    --fs-500: 2.375rem; /* 38px */
    --fs-400: 1.75rem; /* 28px */
    --fs-300: 1.5rem; /* 24px */
    --fs-200: 1.33125rem; /* 21.3px */
    --fs-100: 1.25rem;/* 20px */
    --fs-100: 1.125rem;/* 18px */

    /* Font families */
    --ff-sans: 'Josefin Sans', sans-serif;
}

/* ---------------------- */
/* Reset                  */
/* ---------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */
/* Box sizing rules */ 
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core body defaults */
body {
    font-family: var(--ff-sans);
    /* font-size: var(--fs-200); */
    color: var( hsl(--clr-dark) );
    background-color: var( hsl(--clr-white) );
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}
