/* ---------------------- */
/* Custom propertise      */
/* ---------------------- */
:root {
    /* Colors */
    --clr-dark: 0, 0%, 9%;
    --clr-white: 0, 0%, 100%;
    --clr-accent: 227, 100%, 59%;
    --clr-primary: 227, 70%, 30%;
    --clr-light: 28, 87%, 97%;
    --clr-light-accent: 229, 100%, 98%;

    /* Fonts */
    /* Default font size is 16px, so dividing every font size from mockup by 16 */
    --fs-700: 4.1875rem; /* 67px */
    --fs-600: 3.12rem; /* 50px */
    --fs-500: 2.375rem; /* 38px */
    --fs-400: 1.75rem; /* 28px */
    --fs-300: 1.5rem; /* 24px */
    --fs-200: 1.33125rem; /* 21.3px */
    --fs-100: 1.25rem;/* 20px */
    --fs-100: 1.125rem;/* 18px */

    /* Font families */
    --ff-sans: 'Josefin Sans', sans-serif;

    /* Screen sizes */
    /* --big-screen: 1000px; */
}
@media (max-width: 985px) {
    :root {
        --fs-700: clamp(3.5rem, 5vw, 5.5em);
    }
}
@media (max-width: 1900px) {
    :root {
        --fs-700: clamp(3.5rem, 5vw, 8rem);
    }
}


/* ---------------------- */
/* Reset                  */
/* ---------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */
/* Box sizing rules */ 
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
    padding: 0;
}

/* Set core body defaults */
body {
    font-family: var(--ff-sans);
    /* font-size: var(--fs-200); */
    color: hsl( var(--clr-dark) );
    background-color: hsl( var(--clr-white) );
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* -------------------- */
/* Layout               */
/* -------------------- */
.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.flex.align-center {
    align-items: center;
}

.flex.space-between {
    justify-content: space-between;
}

.d-block {
    display: block;
}

.my-1 {
    margin-block: 1rem;
}
.mx-auto {
    margin-inline: auto;
}

.w-70 {
    width: clamp(700px, 70%, 100%);
}
.w-50 {
    width: clamp(700px, 50%, 100%);
}

@media (max-width: 760px) {
    .flex-sm-column {
        --gap: 0rem;
        flex-direction: column;
    }

    .flex.align-sm-center {
        align-items: center;
    }

    .mx-sm-center {
        margin-inline: auto;
    }
    .d-sm-block {
        display: block;
    }

    .w-70,
    .w-50 {
        width: 90vw;
        margin-left: 0;
    }

}
@media (max-width: 985px) {
    .flex-md-column {
        --gap: 0rem;
        flex-direction: column;
    }

    .flex.align-md-center {
        align-items: center;
    }
    .flex.justify-md-center {
        justify-content: center;
    }

    .mx-md-center {
        margin-inline: auto;
    }
    .d-md-block {
        display: block;
    }

}


/* Spaces in between elements in a container */
.flow > *:where(:not(:first-child)) { /* Excluse first element*/
    margin-top: var(--flow-space, 1rem);
}
.flow-space--small {
    --flow-space: .75rem;
}

/* Container styles */
.container {
    margin-inline: auto;
    padding-inline: 2rem;
    padding-block: var(--v-space,1rem);
}

@media (max-width: 1000px) {
    .container {
        padding-inline: 1rem;
    }
}
@media (min-width: 1000px) {
    .container {
        padding-inline: min(7rem, 7vw);
    }
}

/* ---------------------- */
/* Utility                */
/* ---------------------- */


/* Screen readers only */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.skip-to-content {
    position: absolute;
    background: transparent;
    color: hsl( var(--clr-white) );
    background-color: hsl(var(--clr-primary));
    border: 0;
    border-radius: 0 0 .3em .3em;
    padding: .5em 1em;
    margin-inline: auto;
    z-index: 500;
    transform: translateY(-100%);
    transition: transform 250ms ease-in;
}

.skip-to-content:focus-visible {
    outline: none;
}

.skip-to-content:focus {
    transform: translateY(0%);
}

/* Colors */
.bg-dark {
    background-color: hsl(var(--clr-dark));
    color: hsl(var(--clr-white));
}
.bg-dark-outline {
    background-color: transparent;
    border-color: hsl(var(--clr-dark));
    color: hsl(var(--clr-dark));
}

.bg-primary {
    background-color: hsl(var(--clr-primary));
    color: hsl(var(--clr-white));
}

.bg-primary-outline {
    background-color: transparent;
    border: 1px solid hsl(var(--clr-accent));
    color: hsl(var(--clr-primary));
}

.bg-light {
    background-color: hsl(var(--clr-light));
}
.bg-light-accent {
    background-color: hsl(var(--clr-light-accent));
}

.text-dark {
    color: hsl(var(--clr-dark));
}
.text-primary {
    color: hsl(var(--clr-primary));
}
.text-accent {
    color: hsl(var(--clr-accent));
}
.text-white {
    color: hsl(var(--clr-white));
}
.text-center {
    text-align: center;
}

/* Spacing */
.letter-spacing-1 {
    letter-spacing: 4.75px;
}

.letter-spacing-2 {
    letter-spacing: 2.7px;
}

.letter-spacing-3 {
    letter-spacing: 2.35px;
}

.line-height-1 {
    line-height: 1.1;
} 
.line-height-2 {
    line-height: 1.5 !important;
} 

/* Font cases */
.uppercase {
    text-transform: uppercase;
}

.fs-700 { font-size: var(--fs-700); }

.fs-600 { font-size: var(--fs-600); }

.fs-500 { font-size: var(--fs-500); }

.fs-400 { font-size: var(--fs-400); }

.fs-300 { font-size: var(--fs-300); }

.fs-200 { font-size: var(--fs-200); }
.fs-100 { font-size: var(--fs-100); }

.fs-700,
.fs-600 {
    line-height: 1.1;
}

.fw-500 {
    font-weight: 500;
}
.fw-300 {
    font-weight: 300;
}

@media (max-width: 760px) {
    .fs-400--sm {
        font-size: var(--fs-500);
    }
}
/* -------------------- */
/* Components           */
/* -------------------- */
.btn {
    font-size: 1em;
    max-width: 100%;
    display: flex;
    place-items: center;
    padding: .4em 1em;
    text-decoration: none;
    border-radius: .5em;
    border-width: 0;
    margin-block: 1rem;
    cursor: pointer;
    transition: background-color 250ms ease-in-out;
}

.btn-md {
    padding: .7rem 1.2rem;
}

.btn.btn--icon {
    column-gap: .8rem;
}

.btn.btn-primary {
    background-color: hsl(var(--clr-accent));
    color: hsl( var(--clr-white));
}

.btn.btn-primary-outline {
    border: 1px solid hsl(var(--clr-accent));
    background-color: transparent;
    color: hsl( var(--clr-accent));
}
.btn.btn-primary:hover,
.btn.btn-primary:focus {
    background-color: hsl(var(--clr-primary));
}

.btn.btn-primary-outline:hover,
.btn.btn-primary-outline:focus {
    border-color: transparent;
    background-color: hsl( var(--clr-accent));
    color: hsl( var(--clr-white));
}


.btn.btn-dark {
    background-color: hsl(var(--clr-dark), .7);
    color: hsl( var(--clr-white));
}

.btn.btn-dark-outline {
    border: 1px solid hsl(var(--clr-dark));
    background-color: transparent;
    color: hsl( var(--clr-dark));
}

.btn.btn-dark:hover,
.btn.btn-dark:focus {
    background-color: hsl(var(--clr-dark), 1);
}

.btn-white {
    background-color: hsl(var(--clr-white));
    color: hsl(var(--clr-dark));
}

.btn.rounded {
    --radius: 1.8rem;
    border-radius: var(--radius, 1.8rem);
}

.container--header {
    box-shadow: 0px 2px 8px 0px hsla(227, 100%, 59%, 0.1);
}

/* Primary header */
.logo {
    margin-block: 1rem;
    flex-grow: 1;
}

.main-navigation {
    transition: transform 500ms ease-in-out;
    
}
.main-navigation ul {
    padding: 0;
    
}

.main-navigation > ul a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
}

.main-navigation a:focus,
.main-navigation a:hover,
.main-navigation .active > a {
    border-bottom: 1px solid hsl(var(--clr-accent));
}

.mobile-navigation-toggle {
    display: none;
    transition: background-image 300ms ease-in;
}

.mobile-navigation-toggle:focus-visible {
    outline: 2px solid hsl(var(--clr-accent));
    outline-offset: 5px;
}

@media (max-width: 760px) {
    .mobile-navigation-toggle {
        display: block;
        /* position: absolute;
        right: 1rem;
        top: 2rem; */
        z-index: 1500;
        background-color: transparent;
        background-image: url("../images/icons/hamburger.svg");
        background-repeat: no-repeat;
        background-position: center center;
        width: 1.5rem;
        aspect-ratio: 1;
        border: 0;
        cursor: pointer;
    }

    .mobile-navigation-toggle[aria-expanded="true"] {
        background-image: url("../images/icons/icon-close.svg");
    }
    
    
    .main-navigation {
        flex-direction: column;
        position: fixed;
        right: 0;
        top: 0;
        display: block;
        max-width: 50vw;
        height: 100%;
        padding-top:  5rem;
        padding-inline: 1rem;
        background-color: hsl( var(--clr-white));
        box-shadow: 0px 2px 8px 0px hsla(227, 100%, 59%, 0.1);
        transform: translateX(100%);
    }
    
    .main-navigation[data-visible="true"] {
        transform: translateX(0%);
    }
    
    .main-navigation ul {
        flex-direction: column;    
    }

    .main-navigation ul a {
        margin-block: .7rem;
    }

    .main-navigation .call-to-action {
        display: block;
    }
    .main-navigation .call-to-action button {
        width: 100%;
        text-align: center;
        justify-content: center;
    }
}


@media (min-width: 761px) {
    .main-navigation {
        flex-grow: 4;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .main-navigation ul {
        --gap: min(4rem, 3vw);
        flex-grow: 1;
        justify-content: center;
    }
    .main-navigation .call-to-action {
        flex-grow: 1;
        justify-content: flex-end;
    }
}


/* Hero */
.container--hero {
    padding-block: 7rem;
}

.container--hero h1 {
    /* font-size: clamp(2.8rem, 5vw, 5.5em); */
    line-height: 1.1;
}
.container--hero p {
    font-size: clamp(var(--fs-300), 3vw, 2.5rem);
    margin-block: 2rem;
}

@media (max-width:  985px) {
    .container--hero {
        flex-direction: column;
        align-items: center;
        row-gap: 2rem;
    }
    .container--hero > * {
        width: 90%;
        text-align: center;
    }
}
@media (min-width:  1900px) {
    .container--hero h1 {
        width: 80%;
    }

    .container--hero p {
        width: 70%;
    }
}


/* Companies */

.container--companies {
    padding-block: 1rem;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.container--companies .companies-items {
    padding: .5rem;
    display: flex;
    justify-content: space-around;    
}


@media (max-width: 760px) {
    .container--companies {
        padding-inline: 1rem;
    }
    .container--companies .companies-items {
        width: 900px;
        overflow-x: scroll;
        
    }
}



.container--services {
    --v-space: 5rem;
}

.container--services .article-list {
    margin-top: 5rem;
    justify-content: center;
    column-gap: min(5rem, 2vw);
    flex-wrap: wrap;
}

.container--services .article-list > * {
    width: 20rem;
    max-width: 100%;
    padding: 2.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    row-gap: .8rem;
    border-radius: 1rem;
}


.container--process {
    --v-space: 10rem;
    column-gap: 20rem;
    padding-inline: min(10rem, 10vw);
}


.container--process h1 {
    width: max(90%, 10vw);
}

.container--process ul {
    position: relative;
    padding-left: 4rem;
    counter-reset: process;
}
.container--process ul::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 89%;

    left: 1.12rem;
    top: 0;

    background-color: hsl( var(--clr-accent));
}
.container--process li {
    margin-block: 3rem;
}
.container--process li::before {
    counter-increment: process;
    content: "0"counter(process)"";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: hsl( var(--clr-accent));

    width: 2.2rem;
    aspect-ratio: 1;

    left: 0;

    background-color: hsl( var(--clr-white) );
    border-radius: 50%;

    z-index: 1;
}

@media (max-width: 760px) {
    .container--process .product-image {
        padding: 2rem;
        margin-bottom: 5rem;
    }
}